.slider {
    display: flex;
    margin: 10vh 5vw 0 5vw;
    width: 90%;
    height: 42.5vh;
    border-radius: 20px;
    flex-direction: row;
}
.left_side {
    width: 70%;
    height: 42.5vh;
    border-radius: 20px;
    background-color: #3C4043;
    box-shadow: 5px 5px 10px 0px rgba(43, 49, 53, 0.75), -5px -5px 10px 0px rgba(255, 255, 255, 0.20);
}
.right_side {
    width: 25%;
    height: 42.5vh;
    border-radius: 20px;
    margin-left: 5%;
    background-color: #3C4043;
    box-shadow: 5px 5px 10px 0px rgba(43, 49, 53, 0.75), -5px -5px 10px 0px rgba(255, 255, 255, 0.20);
}