* {
    padding: 0;
    margin: 0;
    box-sizing: none;
    font-family: 'Lato', sans-serif;
    color: white;
}
#root {
    width: 100vw;
    height: 200vh;
    background-color: #3C4043;
}
.App {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
.header {
    display: flex;
    width: 100vw;
    height: 50vh;
    flex-direction: column;
}
.main {
    width: 100vw;
    height: 200vh;
    margin-top: 5%;
}
::-webkit-scrollbar {
    width: 0px;
}